.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fcc04a;
}

mat-toolbar {
  background-color: #fcc04a;
}

.add-button {
  padding: 0px 16px !important;
  font-weight: bold;
}

.logo {
  padding-left: 15px;
  margin-top: 5px;
  cursor: pointer;
}

.active-link {
  background-color: #673ab71c;
}
