<div class="heading-wrapper">
  <h2>Welcome to BetterWish!</h2>
  <h3>The better way to keep track of your wishes.</h3>
</div>
<div class="tutorial-wrapper">
  <h3>How to manage your wishlists</h3>
  <li>
    With BetterWish, you can store wishes in wishlists for different topics.
  </li>
  <li>To create a new wishlist, click on "Add new wishlist" on the left.</li>
  <li>To delete a wishlist, click on the trash icon.</li>
  <li>To edit a wishlist, click on the edit icon.</li>
</div>
<div class="tutorial-wrapper">
  <h3>How to manage your wishes</h3>
  <li>
    Within a wishlist, click on the yellow plus sign on the bottom right to add
    a new wish to the list.
  </li>
  <li>
    Next to the name, the description and the price, you can also add a url, for
    example to a web page where the product is available. You can also indicate
    an image url. Once you are done, please click on "Save". The wish appears in
    your list.
  </li>
  <li>
    You can click on the link icon or the image to open up the url you stored
    for your wish.
  </li>
  <li>
    If you have already bought the desired item, you can mark it as purchased.
  </li>
  <li>If you want to delete a wish, please click on the delete icon.</li>
  <li>To edit a wish, please click on the edit icon.</li>
</div>
<div class="footer">
  <p>A project by</p>
  <li>Marie Bauer</li>
  <li>Katharina Boni</li>
  <li>Robin Kauffeld</li>
  <li>Isabel Köcher</li>
  <li>Viktoria Seubert</li>
</div>
