.add-wishlist-button {
    border: 0.3px solid #c8c8c8;
    margin-right: 15px;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
  }
  
  .wishlist-save-button {
    background-color: #673ab71c;
  }
  
  .wishlist-cancel-button {
    margin-left: 16px;
  }
  