    .wrapper {
      max-width: 500px;
      display: flex;
        padding: 20px;
        margin: 20px;
        background-color: whitesmoke;
        border-radius: 10px;
    }

    .image-wrapper {
        width: 30%;

    }

    .image-wrapper > div > img {
        width: 100%;
        height: auto;
    }

    .no-image-wrapper {
      padding: 30px;
    }

    .content-wrapper {
        padding-left: 20px;
    }

    .wrapper.already-purchased {
      text-decoration: line-through ;
    }

    h2 {
        font-weight: bold;
    }

    .wish-price {
        color: grey;
        font-weight: semibold;
    }
