.wrapper {
  max-width: 500px;
  display: flex;
  padding: 20px 20px 3px 20px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.image-wrapper {
  width: 30%;
}

.image-wrapper > div > img {
  width: 100%;
  height: auto;
}

.content-wrapper {
  padding-left: 20px;
  width: 100%;
}

.wrapper.already-purchased {
  text-decoration: line-through;
}

h2 {
  font-weight: bold;
}

.wish-price {
  color: grey;
  font-weight: semibold;
  margin-left: 2px;
}

.wish-details {
  padding-left: 10px;
  margin-bottom: 5%;
}

h3 {
  margin-left: 2px;
}

#purchased {
  margin-left: 2px;
}

mat-icon {
  font-size: 22px !important;
  cursor: pointer;
}

.purchase-form {
  bottom: 0;
}

.no-url {
  color: #bdbcbc;
  cursor: default;
}

.icon-wrapper {
  display: flex;
}

.wish-icon-wrapper {
  padding-top: 15px;
  padding-right: 15px;
}

.product-img {
  cursor: pointer;
}

@media (max-width: 800px) {
  .image-wrapper{
    width: 50%;
  }
} 
