.container {
  max-width: 700px;
  /* display: flex; */
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

/* .form-container {
  display: flex;
} */

.form-field-container {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100% !important;
}

.price-form-field {
  width: 40% !important;
}

.wish-detail-button {
  border: 0.3px solid #c8c8c8;
  margin-right: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 15px;
}

.wish-save-button {
  background-color: #673ab71c;
}
