<div class="container">
  <!--h1>{{ wishlist.name }}</h1-->
  <h2>Add your wish</h2>
  <form (ngSubmit)="addWishToWishlist()" [formGroup]="wishForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        id="name"
        required
        placeholder="Name"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        type="text"
        id="description"
        required
        placeholder="Description"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="url"
        id="url"
        required
        placeholder="URL"
        formControlName="url"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="url"
        id="image"
        placeholder="Image URL"
        formControlName="image"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        id="price"
        required
        placeholder="Price"
        formControlName="price"
      />
    </mat-form-field>
    <mat-checkbox
      [formControl]="alreadyPurchased"
      id="alreadyPurchased"
      formControlName="alreadyPurchased"
      >Already Purchased</mat-checkbox
    >
    <button type="submit">Save</button>
    <button>Cancel</button>
  </form>
</div>
