.add-button {
  position: fixed;
  bottom: 20px;
  right: 10px;
}

mat-icon {
  color: white;
}

h2 {
  padding: 20px 0 0 20px;
}

.mat-mdc-fab.mat-accent {
  background-color: #fcc04a;
}

.wishlist-name {
  font-weight: bold!important;
  padding: 20px 0 0 20px!important;
}

.purchasedWish {
  background-color: #fcc04a;
}
