.add-button {
  position: fixed;
  bottom: 20px;
  right: 10px;
}

mat-icon {
  color: white;
}

.mat-mdc-fab.mat-accent {
  background-color: #fcc04a;
}

.purchasedWish {
  background-color: #fcc04a;
}

.container {
  margin: 20px;
  padding: 20px;
}
