<div class="heading-wrapper">
  <h2>Welcome to Better wish!</h2>
  <h3>The better way to keep track of your wishes.</h3>
</div>
<div class="tutorial-wrapper">
  <h3>How to manage your wishlists</h3>
  <li>
    With Better wish, you can store all your wishes in wishlists for different
    topics.
  </li>
  <li>To create a new wishlist, click on "Add new wishlist" on the left.</li>
  <li>
    To delete a wishlist, click on the delete icon. To update it, click on the
    update icon.
  </li>
</div>
<div class="tutorial-wrapper">
  <h3>How to manage your wishes</h3>
  <li>
    Within your wishlists, click on the yellow plus sign to add new wishes to
    the list.
  </li>
  <li>
    You can click on the link icon to open up the url you stored for this
    specific link.
  </li>
  <li>
    If you have already bought the desired item, you can mark it as purchased.
  </li>
  <li>If you want to delete an icon, please click on the delete icon.</li>
</div>
<div class="footer">
  <p>A project by</p>
  <li>Marie Bauer</li>
  <li>Katharina Boni</li>
  <li>Robin Kauffeld</li>
  <li>Isabel Köcher</li>
  <li>Viktoria Seubert</li>
</div>
